.spot-details {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.spot-details .spot-title {
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

.spot-details .spot-location {
	font-size: 1.25rem;
	margin-bottom: 40px;
	color: black;
}

.spot-details .spot-images {
	display: flex;
	gap: 10px;
	margin-bottom: 30px;
	height: 400px;
}

.spot-details .primary-image {
	flex: 2;
	height: 100%;
}

.spot-details .primary-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.spot-details .secondary-images {
	flex: 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

.spot-details .secondary-images img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.spot-details .spot-image {
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.spot-details .spot-image:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.content-container {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	border-bottom: 2px solid #f97300;
}

.description-container {
	flex: 3;
}

.hosted-by h2 {
	margin-bottom: 14px;
	padding-left: 0;
	font-size: 1.2rem;
	font-weight: bold;
}

.spot-description {
	font-size: 1rem;
	line-height: 1.5;
}

.price-box {
	flex: 1;
	padding: 20px;
	border: 2px solid #f97300;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	align-items: center;
	flex-direction: column;
	gap: 10px;
	max-width: 300px;
	min-width: 200px;
	margin-bottom: 20px;
}

.price-box .price-and-reviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 1.2rem;
	gap: 10px;
}

.price-box .price {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 10px;

	white-space: nowrap;
}

.price-box .rating {
	font-size: 0.8rem;
	margin-bottom: 15px;
	white-space: nowrap;
}

.reserve-button {
	background-color: #f97300;
	color: white;
	border: none;
	padding: 12px 24px;
	font-size: 1rem;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.reserve-button:hover {
	background-color: #d86000;
}

.reviews-container {
	margin-top: 40px;
}

.reviews-container h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.no-reviews {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.post-review-button {
	width: 180px;
}
