.spot-reviews {
	margin-top: 20px;
}

.spot-reviews .review {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.spot-reviews form {
	margin-top: 20px;
}

.spot-reviews textarea,
input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
}

.spot-reviews .review-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.spot-reviews .edit-review-button,
.delete-review-button {
	padding: 10px 20px;
	background-color: #f97300;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	max-width: 150px;
}

.spot-reviews .post-review-button {
	margin-bottom: 20px;
	background-color: #f97300;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	max-width: 190px;
}
