.not-found {
	text-align: center;
	margin-top: 100px;
}

.not-found h1 {
	font-size: 3rem;
	color: #ff4c4c;
}

.not-found p {
	font-size: 1.5rem;
	margin: 20px 0;
}

.back-home-link {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.back-home-link:hover {
	background-color: #0056b3;
}
