.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px 20px;
	border-bottom: 2px solid #f97300;
}

.left-nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

.right-nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

.brand-logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f97300;
	font-size: 1.5rem;
}

.windmill-icon {
	font-size: 3rem;
	color: #f97300;
}

nav a {
	text-decoration: none;
}

.hidden {
	display: none;
}

.profile-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: #f97300;
	border: 2px solid #f97300;
	padding: 8px 14px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1rem;
	transition: all 0.3s ease;
	white-space: nowrap;
}

.profile-button:hover {
	background-color: #f97300;
	color: white;
}

.profile-dropdown {
	position: absolute;
	top: 50px;
	right: 20px;
	background-color: white;
	border: 2px solid #f97300;
	border-radius: 8px;
	list-style: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px 0;
	width: auto;
	list-style: none;
	z-index: 1000;
	/* text-align: center; */
}

.profile-dropdown li {
	display: block;
	color: #f97300;
	padding: 5px 15px;
	display: block;
	text-align: left;
	cursor: pointer;
	border-bottom: 2px solid #f97300;
}

.profile-dropdown li:last-child {
	border-bottom: none;
}

.profile-dropdown Link {
	text-decoration: none;
	color: #f97300;
	padding: 5px 10px;
	display: block;
	cursor: pointer;
	text-align: left;
	transition: color 0.3s ease;
}

.profile-dropdown a:visited {
	color: #f97300; /* Same color as unvisited links */
}

.profile-dropdown Link:hover {
	color: #d86000;
}

.create-spot-button {
	background-color: white;
	color: #f97300;
	padding: 8px 15px;
	border: 2px solid #f97300;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s ease;
	margin-right: 15px;
	white-space: nowrap;
	display: inline-block;
}

.create-spot-button:hover {
	background-color: #d86000;
	color: white;
}
