.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f9fa;
	padding: 10px 20px;
	border-bottom: 2px solid #f97300;
}

.left-nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

.right-nav {
	align-items: center;
}

.brand-logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f97300;
	font-size: 1.5rem;
	/* font-weight: bold; */
}

.windmill-icon {
	font-size: 3rem;
	color: #f97300;
}

nav a {
	text-decoration: none;
}

/* nav ul {
	list-style: none;
	display: flex;
	gap: 15px;
	align-items: center;
} */

.hidden {
	display: none;
}

.profile-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: #f97300;
	border: 2px solid #f97300;
	padding: 8px 12px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: all 0.3s ease;
}

.profile-button:hover {
	background-color: #f97300;
	color: white;
}

.profile-dropdown {
	position: absolute;
	top: 50px;
	right: 20px;
	background-color: white;
	border: 2px solid #f97300;
	border-radius: 8px;
	list-style: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px 0;
	width: 130px;
	list-style: none;
	z-index: 1000;
	text-align: center;
}

.profile-dropdown li {
	display: block;
	color: #f97300;
	padding: 5px 10px;
	text-align: left;
	cursor: pointer;
}
.profile-dropdown li:last-child {
	border-bottom: none; /* Remove the border for the last item */
}

.profile-dropdown a {
	text-decoration: none;
	color: inherit; /* Inherit color for text */
	display: block; /* Ensure the full block is clickable */
}
