.login-form-container {
	max-width: 400px; /* Restrict to a reasonable max width */
	width: 100%; /* Ensure the modal can scale */
	padding: 20px;
	margin: 50px auto; /* Center the modal vertically */
	border: 2px solid #f97300;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: white; /* Ensure modal has a visible background */
	border-radius: 10px; /* Smooth corners */
	position: relative; /* For absolute children if needed */
	text-align: center;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.5rem;
	color: black;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
	padding: 12px;
	background-color: #f97300;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
}

button:hover {
	background-color: #dc6904;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.demo-button {
	padding: 10px;
	background-color: #f97300;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 0.9rem;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	width: 100%;
	margin-top: 15px;
}

.demo-button:hover {
	background-color: #e66b00;
}

.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.error-message {
	color: #f97300;
	font-size: 0.9rem;
	margin-bottom: 10px;
	text-align: center;
}
